doctype html
html
  head
    title Signup Success
    link(rel="stylesheet", href="/resources/css/main.css")
  body
    header.main-header
      h1 Thank You for Signing Up!

    main.main-content
      .welcome-message
        p You have successfully created an account.
        p 
          | Please 
          a(href='/login').btn login 
          | to continue.
